
/target/
/.idea/
/src/main/java/META-INF/persistence.xml
/src/main/java/config/database/DatabaseConfig.java
/cw2.iml
/src/main/resources/database.properties
/src/main/resources/application.properties
